services:
  postgres:
    image: postgres:16
    container_name: postgres-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: rbac
      POSTGRES_USER: root
      POSTGRES_PASSWORD: rbac1234
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis-db
    ports:
      - "6379:6379"
    command: redis-server --requirepass rbac1234

volumes:
  postgres_data: